
.daySunny{
    background-color: lightblue;
}
.dayCloudy{
    background-color: lightgrey;
}
.night{
    background-color: black;
    color: white;
}

ul{
  list-style-type: none; 
  font-size: 24px; 
}

.fiveDayCards{
    height: 200px;
    
}
.weatherCard{
    background-color: white;
}

#searchHistory{
    background-color: white;
    border: solid  black;
}